//css for the auto-complete.jsx component.
#search-results, .search-box{
    position: relative;
    width: 500px;
}

.suggestion{
    background-color: white;
    border: 1px solid grey;
    width: 100%;
    height: 30px;
    transition-delay: 5ms;
}

.suggestion-text{
    font-size: 20px;
}

.highlight, .suggestion:hover{
    border: 1px solid black;
    background-color: lightseagreen
}

#search-announcement{
    visibility: hidden;
    height: 0px;
    width: 0px;
}

#search{
    width: 100%;
    font-size: 20px;
}